$body-background: #f9f9f9;
$bright-white: #fbfcfd;
$default-color: #f4f5f6;
$default-hover-color: #f8f9fa;
$default-active-color: #fbfcfd;
$primary-color: #2274d8;
$info-color: #03afbf;
$success-color: #1cc43b;
$warning-color: #ed9d07;
$danger-color: #f3382b;
$dark-color: #232527;
$default-text-color: #333435;
