$body-background: #f9f9f9;
$bright-white: #fbfcfd;
$default-color: #f4f5f6;
$default-hover-color: #f8f9fa;
$default-active-color: #fbfcfd;
$primary-color: #3D6183;
$info-color: #347B78;
$success-color: #4AA345;
$warning-color: #CA9B55;
$danger-color: #C85457;
$dark-color: #232527;
$default-text-color: #333;