@import "../../../../src/style/abstracts/all";

:local(.list){
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  vertical-align: top;
  @media only screen and (min-width: $screen-xs) {
   display: inline-block;
 }
 > li{
  display: inline-block;
  > a, > span{
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 -2px;
    display: inline-block;
    font-size: 18px;
    line-height: 35px;
    vertical-align: bottom;
    border-bottom: 6px solid transparent;
    padding: 6px 16px 0;
    cursor: pointer;
    @include transition(border-color .2s);
    @media only screen and (min-width: $screen-sm) {
      font-size: 20px;
      line-height: 52px;
    }
  }
}
:local(.dropdownContent){
  visibility: hidden;
  position: absolute;
  top: 48px;
  a{
    color: $default-text-color;
  }
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
  @media only screen and (min-width: $screen-sm) {
    top: 64px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: $bright-white;
  }
}
:local(.hasDropdown){
  display: inherit;
  :local(.dropdownTitle){
    &:after{
      font-family: FontAwesome;
      content: "\f078";
      margin-left: 3px;
      font-size: 14px;
      display: inline-block;
      
      vertical-align: bottom;
      @include transition(transform .2s ease-in-out, margin-bottom .2s ease-in-out);
      @media only screen and (min-width: $screen-sm) {
       margin-left: 6px;
       font-size: 16px;
     }
   }
 }
 &.active{
  :local(.dropdownTitle){
    &:after{
      transform: rotate(180deg);
      margin-bottom: -2px;
    }
  }
}
}
.active :local(.dropdownContent){
  display: block;
  visibility: visible;
}
&:local(.listThemeDefault){
  background-color: #FFFFFF;
  > a {
    color: $primary-color;
  }
  > li > a {
    color: $primary-color;
    &:hover {
      border-bottom: 6px solid $primary-color;
    }
  }
  :local(.dropdownContent) a{color: $default-text-color;}
}
&:local(.listThemePrimary){
  background-color: $primary-color;
  > a {
    color: #FFFFFF;
  }
  > li > a {
    color: #FFF;
    &:hover {
      border-bottom: 6px solid #FFF;
    }
  }
  :local(.dropdownContent) a{color: $default-text-color;}
}
&:local(.listThemeDark){
  background-color: $dark-color;
  > a {
    color: #FFFFFF;
  }
  > li > a {
    color: #FFF;
    &:hover {
      border-bottom: 6px solid #FFF;
    }
  }
  :local(.dropdownContent) a{color: $default-text-color;}
}
}

:local(.dropdownContent) a{color: $default-text-color;}
