{
  "paths": {
    "js": [
      "bower_components/jquery/dist/jquery.min.js",
      "bower_components/masonry/dist/masonry.pkgd.min.js",
      "bower_components/imagesloaded/imagesloaded.pkgd.js",
      "src/js/*.js"
    ],
    "css": [
      "bower_components/components-font-awesome/css/font-awesome.min.css",
      "src/sass/**/*.scss"
    ],
    "fonts": [
      "src/fonts/*.ttf",
      "bower_components/components-font-awesome/fonts/*.{otf,eot,svg,ttf,woff,woff2}"
    ],
    "images": [
      "src/images/**/*.{png,jpg,jpeg,svg,gif}"
    ],
    "php": [
      "src/php/**/*.php"
    ],
    "assets": "./assets"
  }
}