@mixin raised($amount) {
	@if ($amount < 1) {
		@include box-shadow(none);
	}
	@if ($amount == 1) {
		@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.37));
	}
	@if ($amount > 1) {
		@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
	}
}
