@import "../../../../src/style/abstracts/all";

:local(.sidebarOverlay){
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,.2);
  width: 100%;
  height: 100%;
  @media only screen and (min-width: $screen-sm) {
    top: 64px;
  }
}
.active :local(.sidebarOverlay){
  display: block;
}
:local(.sidebar) {
  position: fixed;

  :local(.sidebarContent) {
    width: 300px;
    left: -300px;
    background-color: $bright-white;
    padding: 0;
    position: fixed;
    height: 100%;
    width: inherit;
    overflow: hidden;
    top: 0;
    z-index: 3;
    @include transition(all .2s ease-in-out);
    .sidenav-logo {
      height: 48px;
      img {
        height: 40px;
        width: auto;
        margin-left: 25px;
        margin-top: 5px;
      }
      .fa {
        font-size: 20pt;
        padding: 11px 25px 11px 5px;
      }
    }
  }
}

.active :local(.sidebar) {

  :local(.sidebarContent) {
    left: 0;
    @include box-shadow(0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4));
  }
}


@media only screen and (min-width: $screen-sm) {
  :local(.sidebar) {
    :local(.sidebarContent) {
      top: 64px;
      width: 245px;
      left: -245px;
    }
    .sidenav-logo {
      display: none;
    }
  }
  .active :local(.sidebar) {
    :local(.sidebarContent) {
      @include box-shadow(2px 3px 5px rgba(0, 0, 0, .26));
    }
  }
}



