@font-face {
  font-family: 'Lato';
  src: url("/assets/fonts/Lato-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Lato';
  src: url("/assets/fonts/Lato-Bold.ttf");
  font-weight: bold; }

* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121; }

a, a:visited {
  color: #BE2791;
  text-decoration: none; }

p {
  margin: .5em 0; }

h1, h2, h3, h4 {
  line-height: 1em;
  margin: 1em 0 0; }

img {
  width: 100%;
  height: auto; }

button, input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none; }

button:active, button:focus, input[type="button"]:active, input[type="button"]:focus, input[type="submit"]:active, input[type="submit"]:focus {
  box-shadow: none;
  outline: none; }

.container {
  padding: 0; }
  @media (min-width: 550px) {
    .container {
      padding: 25px; } }
  @media (max-width: 549px) {
    .container > .row {
      margin-left: 0;
      margin-right: 0; }
      .container > .row > div {
        padding: 0; } }

.main-content {
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-top: 48px; }

@media only screen and (min-width: 750px) {
  body.sidebar-active .main-content {
    margin-left: 245px; }
  .main-content {
    margin-top: 64px; } }

.z-1 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37); }

.z-2 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

.action-button {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: fixed;
  width: 56px;
  height: 56px;
  bottom: 16px;
  right: 16px;
  background-color: #be2791;
  color: #FFF;
  z-index: 20;
  -webkit-transition: all .2s;
  transition: all .2s; }
  .action-button::after {
    content: "\f129";
    font-family: FontAwesome;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 28pt;
    line-height: 56px; }
  .action-button.active {
    bottom: 0;
    box-shadow: none; }
    .action-button.active::after {
      content: "\f00d"; }

.action-menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 58px;
  background-color: #be2791;
  color: #FFF;
  height: 60px;
  bottom: 0px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  width: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: 1; }
  .action-menu .toggle-action-button,
  .action-menu .toggle-action-button.active {
    color: transparent;
    background-color: transparent;
    padding: 0;
    margin-right: -3px; }
    .action-menu .toggle-action-button .icon,
    .action-menu .toggle-action-button.active .icon {
      font-size: 28pt;
      line-height: 60px;
      width: 60px; }
  .action-menu.active {
    width: 100%;
    right: 0; }
    .action-menu.active .toggle-action-button .icon::after {
      color: #FFF;
      opacity: .8;
      -webkit-transition: all .2s;
      transition: all .2s; }
    .action-menu.active .toggle-action-button:hover, .action-menu.active .toggle-action-button.active {
      opacity: 1; }

@media (min-width: 768px) {
  .action-button {
    bottom: 32px;
    right: 32px; } }

.toggle-action-button.facebook .icon::after {
  content: "\f230"; }

.action-menu.active .toggle-action-button.active.facebook {
  background-color: #3b5998; }

.toggle-action-button.twitter .icon::after {
  content: "\f099"; }

.action-menu.active .toggle-action-button.active.twitter {
  background-color: #55acee; }

.toggle-action-button.instagram .icon::after {
  content: "\f16d"; }

.action-menu.active .toggle-action-button.active.instagram {
  background-color: #125688; }

.toggle-action-button.google .icon::after {
  content: "\f0d5"; }

.action-menu.active .toggle-action-button.active.google {
  background-color: #db4437; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clearfix {
  clear: both; }

.inline {
  display: inline-block; }

.block {
  display: block; }

.box {
  border-radius: 2px;
  background-color: #FFF;
  margin-bottom: 15px; }
  .box .content {
    padding: 15px; }
  .box .thumbnail img {
    border-bottom: 1px solid #ccc; }
  .box .box-header {
    font-size: .8em;
    color: #FFF; }
    .box .box-header a {
      text-decoration: none; }
    .box .box-header .icon {
      color: #FFF;
      font-family: FontAwesome;
      font-size: 1.6em;
      line-height: 15px; }
  .box.facebook .box-header {
    background-color: #3b5998; }
    .box.facebook .box-header .icon::after {
      content: "\f230"; }
  .box.instagram .box-header {
    background-color: #125688; }
    .box.instagram .box-header .icon::after {
      content: "\f16d"; }
  .box.soundcloud .box-header {
    background-color: #F50; }
    .box.soundcloud .box-header .icon::after {
      content: "\f1be"; }
  .box.twitter .box-header {
    background-color: #55acee; }
    .box.twitter .box-header .icon::after {
      content: "\f099"; }
  .box.google .box-header {
    background-color: #db4437; }
    .box.google .box-header .icon::after {
      content: "\f0d5"; }
  .box.youtube .box-header {
    background-color: #cc181e; }
    .box.youtube .box-header .icon::after {
      content: "\f167"; }

.button {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  color: #BE2791;
  line-height: 32px;
  display: inline-block;
  margin: 0 8px;
  padding: 0 6px; }
  .button.button-icon {
    min-width: 38px; }

.button-flat {
  -webkit-transition: background .2s .1s;
  transition: background .2s .1s; }
  .button-flat:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2); }
  .button-flat:not([disabled]):active {
    background-color: rgba(190, 39, 145, 0.15); }
  .button-flat[disabled] {
    color: rgba(0, 0, 0, 0.26);
    background-color: transparent; }
  .button-flat.button-icon {
    min-width: 38px;
    margin: 0; }
    .button-flat.button-icon .fa {
      line-height: 32px; }

.button-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }

.button-raised:not([disabled]):active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(190, 39, 145, 0.15); }

.button-raised[disabled] {
  color: rgba(0, 0, 0, 0.26); }

.button-primary {
  background-color: #BE2791;
  color: #FFFFFF !important;
  -webkit-transition: background .2s .1s;
  transition: background .2s .1s; }
  .button-primary:not([disabled]):active {
    background-color: rgba(190, 39, 145, 0.85); }
  .button-primary.button-flat:hover {
    background-color: rgba(190, 39, 145, 0.95); }
  .button-primary.button-flat:not([disabled]):active {
    background-color: rgba(190, 39, 145, 0.85); }

.input-group input[type="text"], .input-group input[type="password"] {
  width: 100%;
  font-size: 20px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 8px;
  border: none;
  border-bottom: 2px solid #eee;
  -webkit-transition: border .2s;
  /* Safari */
  transition: border .2s; }
  .input-group input[type="text"] + label, .input-group input[type="password"] + label {
    color: #777;
    position: relative;
    bottom: 32.5px;
    left: 5px;
    font-size: 20px;
    -webkit-transition: all .2s;
    /* Safari */
    transition: all .2s;
    height: 28px;
    display: inline-block; }
  .input-group input[type="text"]:focus, .input-group input[type="password"]:focus {
    border-bottom: 2px solid #BE2791;
    outline: none; }
  .input-group input[type="text"]:focus, .input-group input[type="text"].is-not-empty, .input-group input[type="password"]:focus, .input-group input[type="password"].is-not-empty {
    margin-bottom: 5px; }
  .input-group input[type="text"].is-not-empty + label, .input-group input[type="password"].is-not-empty + label {
    bottom: 55px;
    font-size: 16px; }
    .input-group input[type="text"].is-not-empty + label:after, .input-group input[type="password"].is-not-empty + label:after {
      content: ":"; }
  .input-group input[type="text"]:focus + label, .input-group input[type="password"]:focus + label {
    color: #BE2791;
    bottom: 55px;
    font-size: 16px; }
    .input-group input[type="text"]:focus + label:after, .input-group input[type="password"]:focus + label:after {
      content: ":"; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.grid-sizer {
  margin: 0;
  min-height: 0; }

ul.list {
  list-style: none;
  padding: 0; }
  ul.list li {
    padding: 10px 5px 2px;
    border-bottom: 1px solid #EEE; }
  ul.list.hover-list li:hover {
    background-color: rgba(190, 39, 145, 0.05); }

audio {
  background: #000;
  opacity: .9;
  margin-top: -4px;
  width: 100%; }

pre.code-example {
  display: none; }

@media only screen and (min-width: 750px) {
  pre.code-example {
    display: block;
    white-space: nowrap;
    background-color: #f8f8f8;
    border-top: 1px solid #eee; }
    pre.code-example span {
      display: block; }
      pre.code-example span.indent-1 {
        padding-left: 2em; }
      pre.code-example span.indent-2 {
        padding-left: 4em; } }

@media (max-width: 549px) {
  .hide-xsmall {
    display: none !important; } }

@media (min-width: 550px) and (max-width: 749px) {
  .hide-small {
    display: none !important; } }

@media (min-width: 750px) and (max-width: 1159px) {
  .hide-medium {
    display: none !important; } }

@media (min-width: 1160px) {
  .hide-big {
    display: none !important; } }

.navbar {
  position: fixed;
  background-color: #FFF;
  height: 48px;
  width: 100%;
  z-index: 2;
  top: 0; }
  .navbar .logo {
    display: block;
    padding: 2px 0;
    vertical-align: bottom;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    text-align: center; }
    .navbar .logo img {
      height: 40px;
      width: auto; }
  .navbar a {
    color: #BE2791; }
  .navbar a.sidenav-toggle {
    font-size: 20pt;
    display: inline-block;
    vertical-align: bottom;
    padding: 0 15px;
    cursor: pointer; }
    .navbar a.sidenav-toggle:hover {
      -webkit-transition: background .2s .1s;
      transition: background .2s .1s;
      background-color: rgba(158, 158, 158, 0.2); }
    .navbar a.sidenav-toggle:active {
      background-color: rgba(190, 39, 145, 0.15); }
    .navbar a.sidenav-toggle .sidenav-toggle-logo {
      line-height: 48px; }
  .navbar .menu-divider {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    width: 1px;
    height: 30px;
    display: inline-block;
    margin: 4px 15px; }
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .navbar ul li {
      display: inline-block; }
      .navbar ul li a {
        color: #BE2791;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 -2px;
        display: inline-block;
        font-size: 20px;
        line-height: 58px;
        vertical-align: bottom;
        border-bottom: 6px solid transparent;
        padding: 0 16px;
        -webkit-transition: border-color .2s;
        transition: border-color .2s; }
        .navbar ul li a:hover {
          border-bottom: 6px solid #BE2791; }
  .navbar.navbar-dark {
    background-color: #1F1F1F; }
    .navbar.navbar-dark a {
      color: #FFFFFF; }
    .navbar.navbar-dark ul li a {
      color: #FFF; }
      .navbar.navbar-dark ul li a:hover {
        border-bottom: 6px solid #FFF; }
  .navbar.navbar-primary {
    background-color: #BE2791; }
    .navbar.navbar-primary a {
      color: #BE2791; }
    .navbar.navbar-primary ul li a {
      color: #FFF; }
      .navbar.navbar-primary ul li a:hover {
        border-bottom: 6px solid #FFF; }

.left-menu {
  height: 100%;
  float: left;
  width: 0;
  -webkit-transition: all .2s;
  /* Safari */
  transition: all .2s; }
  .left-menu > div {
    background-color: #FFF;
    padding: 0;
    position: fixed;
    height: 100%;
    width: inherit;
    overflow: hidden;
    top: 0;
    z-index: 2; }
    .left-menu > div .sidenav-logo {
      height: 48px; }
      .left-menu > div .sidenav-logo img {
        height: 40px;
        width: auto;
        margin-left: 10px; }
      .left-menu > div .sidenav-logo .fa {
        font-size: 20pt;
        padding: 11px 25px 11px 5px; }
    .left-menu > div ul {
      list-style: none;
      font-size: 14pt;
      margin: 0; }
      .left-menu > div ul li a {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        color: #212121;
        text-decoration: none;
        padding: 5px 10px;
        width: 100%;
        min-width: 200px;
        border-left: 2px solid transparent; }
        .left-menu > div ul li a:hover {
          background-color: rgba(0, 0, 0, 0.1);
          cursor: pointer; }
        .left-menu > div ul li a.active {
          border-left: 2px solid #BE2791; }
    .left-menu > div input[type=radio] {
      display: none; }
      .left-menu > div input[type=radio]:checked + label {
        border-left: 2px solid #BE2791; }

.left-menu ul {
  padding: 0; }

body.sidebar-active .left-menu {
  width: 300px; }
  body.sidebar-active .left-menu > div {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4); }

@media only screen and (min-width: 550px) {
  .navbar .logo {
    position: static;
    display: inline-block;
    width: auto;
    text-align: left; } }

@media only screen and (min-width: 750px) {
  .navbar {
    height: 64px; }
    .navbar .menu-divider {
      height: 50px; }
    .navbar .logo {
      padding: 10px 0; }
    .navbar a.sidenav-toggle {
      padding: 0 25px; }
      .navbar a.sidenav-toggle .sidenav-toggle-logo {
        line-height: 64px; }
  .left-menu > div {
    top: 64px; }
  .left-menu .sidenav-logo {
    display: none; }
  body.sidebar-active .left-menu {
    width: 245px; }
    body.sidebar-active .left-menu > div {
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.26); } }

@media only screen and (min-width: 1160px) {
  .navbar {
    padding: 0 25px; } }

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 18px;
  height: 20px;
  margin-bottom: 12px;
  font-size: 20px; }

input[type="checkbox"]:before,
input[type="radio"]:before {
  font-family: FontAwesome, sans-serif; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-size: 20px; }

input[type="checkbox"]:focus,
input[type="checkbox"]:focus + label,
.input-group:active input[type="checkbox"],
.input-group:active input[type="checkbox"] + label,
input[type="radio"]:focus,
input[type="radio"]:focus + label,
.input-group:active input[type="radio"],
.input-group:active input[type="radio"] + label {
  color: #BE2791; }

input[type="checkbox"]:before {
  content: "\f096"; }

input[type="checkbox"]:checked:before {
  content: "\f046"; }

input[type="radio"]:before {
  content: "\f10c"; }

input[type="radio"]:checked:before {
  content: "\f192"; }

.border-row {
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37);
  margin-bottom: 20px;
  padding: 15px; }

.icon {
  font-family: FontAwesome;
  width: 22px;
  display: inline-block; }

.icon.facebook::after {
  color: #3b5998;
  content: "\f230"; }

.icon.instagram::after {
  color: #125688;
  content: "\f16d"; }

.icon.soundcloud::after {
  color: #F50;
  content: "\f1be"; }

.icon.twitter::after {
  color: #55acee;
  content: "\f099"; }

.icon.google::after {
  color: #db4437;
  content: "\f0d5"; }

.icon.image-file::after {
  content: "\f1c5"; }

.api-data {
  font-size: .8em;
  list-style: none;
  padding: 0; }

.api-data span {
  margin-bottom: 6px; }

.api-data ul {
  list-style: none;
  padding-left: 12px; }

a.tooltip:hover::after {
  content: attr(title);
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: #333;
  color: #FFF;
  text-decoration: none;
  padding: 5px 10px; }

.clearfix {
  clear: both; }
