@import "../../../../src/style/abstracts/all";

:local(.inputGroup){
	margin-bottom: 12px;
	:local(.label) {
		color: #777;
		position: relative;
		bottom: 27.5px;
		left: 8px;
		font-size: 20px;
		height: 0px;
		display: block;
		cursor: text;
    @include transition(all .2s);
  }
  .is-not-empty + label {
    bottom: 50px;
    font-size: 16px;
    &:after {
      content: ":";
    }
  }
  :focus + label {
    color: $primary-color;
    bottom: 50px;
    font-size: 16px;
    cursor: default;
    &:after {
      content: ":";
    }
    },
    :focus + label {
      color: $primary-color;
      bottom: 50px;
      font-size: 16px;
      cursor: default;
      &:after {
        content: ":";
      }
    }
    :read-only + label,
    :disabled + label{
     color: #777;
     bottom: 50px;
     font-size: 16px;
     cursor: default;
     &:after {
      content: ":";
    }
  }
}
