@import "../../../../src/style/abstracts/all";

:local(.footer) {
  padding: 32px 16px;
  border-top: 1px solid rgba(0, 0, 0, .07);
  &:local(.footerThemeDefault){
    background-color: $default-color;
    color: $default-text-color;
  }
  &:local(.footerThemePrimary){
    background-color: $primary-color;
    color: $bright-white;
  }
  &:local(.footerThemeDark){
    background-color: $dark-color;
    color: $bright-white;
  }
  :local(.logo) {
    display: block;
    padding: 2px 0;
    text-align: center;
    img {
      width: 150px;
    }
  }
}
