.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.float-left{float: left;}
.float-right{float: right;}

.clearfix{clear: both;}

.shadow-z1{
	@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.37));
}

.shadow-z2{
	@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
}
