* {
	@include box-sizing(border-box);
}

html {
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
}

button, 
input[type="button"], 
input[type="submit"]{
	border: none;
	cursor: pointer;
	&:focus{
		outline: none;
	}
}

input{
	@include appearance(none);
}
