@import "abstracts/all";
@import "font-awesome";

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf');
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

@include scrollbar(14px, #e0e1e2, transparent, 0)

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	background-color: #FCFCFC;
	font-family: 'Lato';
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

h1{ font-size: 2.5em }
h2{ font-size: 1.9em }
h3{ font-size: 1.3em }

main{
	padding: 25px;
	font-size: 14pt;
	@include transition(all 2s);
	height: 100%;
	overflow: auto;

	margin-top: 48px;
	@include calc(height, '100% - 48px');

	@media only screen and (min-width: $screen-sm) {
		margin-top: 64px;
		@include calc(height, '100% - 64px');
	}
}

:local(.box){
	background-color: white;
	padding: 1em;
	border: 1px solid deeppink;
}
