@import "abstracts/all";
@import "reset";
@import "font-awesome";

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf');
	font-weight: bold;
}



@include scrollbar(14px, #e0e1e2, transparent, 0)

html {
	height: 100%;
}

body{
	background-color: $body-background;
	color: $default-text-color;
	font-family: 'Lato';
	height: 100%;
	overflow: hidden;
}

h1{ font-size: 2.5em }
h2{ font-size: 1.9em }
h3{ font-size: 1.3em }

main{
	padding: 25px;
	font-size: 14pt;
	height: 100%;
	overflow: auto;
	margin-top: 48px;
	@include transition(all .2s);
	@include calc(height, '100% - 48px');

	@media only screen and (min-width: $screen-sm) {
		margin-top: 64px;
		@include calc(height, '100% - 64px');
	}
}

:local(.box){
	background-color: white;
	padding: 1em;
	border: 1px solid deeppink;
}
