@import "attribution";
@import "abstracts/all";
@import "helpers";
@import "reset";

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.woff') format('woff');
	src: url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype');

	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.woff') format('woff');
	src: url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
}


@include scrollbar(14px, #e0e1e2, transparent, 0)

html {
	height: 100%;
	&.fonts-loaded{
		body{
			font-family: $normal-font;
		}
	}
}

body{
	background-color: $body-background;
	color: $default-text-color;
	font-family: arial, sans-serif;
	height: 100%;
	overflow: hidden;
}

h1{
	font-family: $heading-font;
}

h1{ font-size: 2.5em }
h2{ font-size: 1.9em }
h3{ font-size: 1.3em }

a{
	color: $primary-color;
	cursor: pointer;
	&:hover{
		color: hover-color($primary-color);
	}
	&:focus{
		color: focus-color($primary-color);
	}
}

main{
	font-size: 14pt;
	height: 100%;
	overflow: auto;
	margin-top: 48px;
	@include transition(all .2s);
	@include calc(height, '100% - 48px');

	@media only screen and (min-width: $screen-sm) {
		margin-top: 64px;
		@include calc(height, '100% - 64px');
	}

	:local(.mainContent),
	> *{
		max-width: $main-content-max-width;
		padding: 25px;
		margin: auto;
		background-color: #ffffff;
	}
}