@import "../../../../src/style/abstracts/all";

:local(.modalOverlay){
  position: fixed;
  padding-top: 48px;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  background-color: #FFFFFF;
  @include box-shadow(0 6px 10px 0 rgba(0, 0, 0, 0.3));
  @media only screen and (min-width: $screen-sm){
    padding-top: 64px;
  }
  @media (min-width: $screen-lg){
    padding-top: 0;
    z-index: 2;
    background-color: rgba(33, 33, 33, 0.48);
    @include box-shadow(none);
    @include transition(all .2s .4s);
  }
  &.active{
    display: block;
  }
  :local(.modal){
    height: 100%;
    overflow: auto;
    padding: 15px;
    @media (min-width: $screen-lg){
      max-width: 900px;
      margin: 85px auto;
      overflow: visible;
      @include calc(max-height, '100% - 85px');
    }
    :local(.modalHeader){
      font-size: 18pt;
      font-weight: bold;
      line-height: 24pt;
      margin-bottom: 4pt;
      @media (min-width: $screen-lg){
        background: $default-color;
        margin: 0;
        padding: 6px 12px;
        @include border-radius(3px 3px 0 0);
        @include box-shadow(0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12));
      }
    }
    :local(.modalContent){
      background: #FFF;
      width: 100%;
      padding: 12px 6px;
      @media (min-width: $screen-lg){
        overflow-y: auto;
        overflow-x: hidden;
        height: auto;
        @include border-radius(0 0 3px 3px);
        @include calc(max-height, '100% - 90px');
        @include box-shadow(0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12));
      }
    }
  }
}


body.action-menu-active :local(.modalOverlay) {
  padding-bottom: 60px;
}

