@import "../../../../src/style/abstracts/all";
:local(.modalOverlay) {
  position: fixed;
  padding-top: 48px;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  background-color: #FFFFFF;
  @include box-shadow(0 6px 10px 0 rgba(0, 0, 0, 0.3));
  @media only screen and (min-width: $screen-sm) {
    padding-top: 64px;
  }
  @media (min-width: $screen-sm) {
    padding-top: 0;
    z-index: 2;
    background-color: rgba(33, 33, 33, 0.48);
    @include box-shadow(none);
    @include transition(all .2s .4s);
  }
  &.active {
    display: block;
  }
  :local(.modal) {
    height: 100%;
    overflow: auto;
    padding: 15px;
    @media (min-width: $screen-sm) {
      height: auto;
      max-width: 900px;
      margin: 85px auto;
      overflow: visible;
      @include calc(max-height, '100% - 85px');
    }
    :local(.modalContainer){
      background-color: #FFF;
      @media (min-width: $screen-sm) {
        @include border-radius(2px);
        @include raised(3);
      }
      :local(.modalHeader) {
        font-size: 18pt;
        font-weight: bold;
        line-height: 24pt;
        margin-bottom: 4pt;
        border-bottom: 1px solid $default-color;
        @media (min-width: $screen-sm) {
          margin: 0;
          padding: 6px 12px;
          @include border-radius(2px 2px 0 0);
        }
      }
      :local(.modalContent) {
        width: 100%;
        @media (min-width: $screen-sm) {
          overflow-y: auto;
          overflow-x: hidden;
          height: auto;
          @include calc(max-height, '100% - 90px');
        }
      }
      :local(.modalFooter) {
        border-top: 1px solid $default-color;
        width: 100%;
        padding: 12px 6px;
        @media (min-width: $screen-sm) {
          height: auto;
          @include border-radius(0 0 2px 2px);
        }
        :local(.footerButtons){
          text-align: right;
        }
      }
    }
  }
}

body.action-menu-active :local(.modalOverlay) {
  padding-bottom: 60px;
}