@mixin bright-gray($color) {
  background-color: lighten($color, 80);
}
@mixin bright-color($color) {
  background-color: lighten($color, 50);
}
@mixin active-color($color) {
  background-color: lighten($color, 8);
}
@mixin hover-color($color) {
  background-color: lighten($color, 4);
}
@mixin border-color($color) {
  border: 1px solid darken($color, 4);
}