@import "../../../../src/style/abstracts/all";

:local(.inputGroup){
	margin-bottom: 4px;
	:local(.label) {
		font-size: 16pt;
		cursor: pointer;
	}
	input[type="radio"]{
		&:focus,
		&:active{
			+ span,
			+ span + label{
				color: $primary-color;
			}
		}
		&.disabled,
		&.readonly{
			+ span {
				color: $disabled-icon-color;
				+ label{
					color: $disabled-text-color;
				}
			}
		}
	}
}
