@import "../../style/abstracts/all";

:local(.radioContainer){
	display: block;
	font-family: $default-font;
	font-size: $default-font-size;
	cursor: pointer;
	:local(input){
		display: none;
		+ :local(.icon){
			margin: 0 6pt;
			font-size: 14pt;
			width: 1em;
			cursor: pointer;
			display: inline-block;
		}
	}
	&:local(.disabled),
	&:local(.readOnly){
		cursor: not-allowed;
		color: $disabled-icon-color;
		:local(input){
			+ :local(.icon){
				cursor: not-allowed;
				color: $disabled-icon-color;
			}
		}
	}

}