@import "./src/style/abstracts/all";
:local(.dropdownContainer) {
    &:after{
      font-family: FontAwesome;
      content: "\f078";
      position: relative;
      float: right;
      top: -25px;
      right: 8px;
      @include transition(transform .2s ease-in-out, top .2s ease-in-out);
  }
}
:local(.dropdownContainer).active{
    &:after{
        top: -23px;
        transform: rotate(180deg);
    }
}
:local(.dropdownList) {
    list-style: none;
    display: none;
    font-size: 14pt;
    margin: 0;
    padding: 0;
    background-color: $bright-white;
    @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
    position: relative;
    &.active {
        display: block;
    }
    &.transparent{
        opacity: 0;
    }
    
    > li {
        display: block;
        color: $default-text-color;
        text-decoration: none;
        padding: 10px 20px;
        width: 100%;
        min-width: 200px;
        border-left: 2px solid transparent;
        &:hover {
            background-color: bright-gray($dark-color);
            cursor: pointer;
        }
        &.active {
            border-left: 2px solid $primary-color;
        } 
    }
}