.action-button {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: fixed;
  width: 56px;
  height: 56px;
  bottom: 16px;
  right: 16px;
  background-color: $primary-color;
  color: #FFF;
  z-index: 20;
  -webkit-transition: all .2s;
  transition: all .2s;
  &.active {
    bottom: 0;
    box-shadow: none;
    .icon {
      font-family: FontAwesome;
      &::before {
        content: "\f00d";
      }
    }
  }
  .icon {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 28pt;
    line-height: 56px;
  }
}

.action-menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 58px;
  background-color: $primary-color;
  color: #FFF;
  height: 60px;
  bottom: 0px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  width: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: 1;
  .toggle-action-button {
    display: none;
  }
  .toggle-action-button,
  .toggle-action-button.active {
    color: transparent;
    background-color: transparent;
    padding: 0;
    margin-right: -4px;
    .icon {
      font-size: 28pt;
      line-height: 60px;
      width: 60px;
    }
  }
  &.active {
    width: 100%;
    right: 0;
    .toggle-action-button {
      display: inline-block;
      &.active {
        background-color: #FFFFFF;
        .icon {
          @include active-primary-button;
        }
      }
      .icon::after, .icon::before {
        color: #FFF;
        opacity: .8;
        -webkit-transition: all .2s;
        transition: all .2s;
      }
      &:hover, &.active {
        .icon::after, .icon::before {
          opacity: 1;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .action-button {
    bottom: 32px;
    right: 32px;
  }
}




.toggle-action-button.facebook .icon::after {
  content: "\f230";
}

.action-menu.active .toggle-action-button.active.facebook {
  background-color: #3b5998;
}

.toggle-action-button.twitter .icon::after {
  content: "\f099";
}

.action-menu.active .toggle-action-button.active.twitter {
  background-color: #55acee;
}

.toggle-action-button.instagram .icon::after {
  content: "\f16d";
}

.action-menu.active .toggle-action-button.active.instagram {
  background-color: #125688;
}

.toggle-action-button.google .icon::after {
  content: "\f0d5";
}

.action-menu.active .toggle-action-button.active.google {
  background-color: #db4437;
}

.actionbar-modal {
  position: fixed;
  width: auto;
  height: 400px;
  bottom: 60px;
  left: 0;
  z-index: 1;
  display: none;
  padding-bottom: 30px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  .modal-header {
    background-color: $primary-color;
    color: #FFF;
    font-size: 14pt;
    font-weight: bold;
    line-height: 18pt;
    padding: 4px;
  }
  .modal-content {
    background: #FFF;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 12px 6px;
  }
}

@media (min-width: 1160px) {
  .action-button {
    display: none;
  }
  .action-menu,
  .action-menu.active{
    width: 60px;
    height: 100%;
    top: 64px;
    z-index: 2;
    left: 0;
    float: left;
    .toggle-action-button{
      display: inline-block;
      &:hover{
        .icon{
          &:before, &:after{
            opacity: 1;
          }
        }
      }
      &.active{
        background-color: #fff;
        .icon{
          @include active-primary-button;
          &:before, &:after{
            opacity: 1;
          }
        }
      }
      .icon{
        &:before, &:after{
          color: #FFFFFF;
          opacity: .8;
          transition: all .2s;
        }
      }
    }
  }
  .actionbar-modal{
    height: 100%;
    top: 64px;
    left: 60px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.26);
    z-index: 2;
  }
}
