.border-row {
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37);
  margin-bottom: 20px;
  padding: 15px;
}

.icon {
  font-family: FontAwesome;
  width: 22px;
  display: inline-block;
}

.icon.facebook::after {
  color: #3b5998;
  content: "\f230";
}

.icon.instagram::after {
  color: #125688;
  content: "\f16d";
}

.icon.soundcloud::after {
  color: #F50;
  content: "\f1be";
}

.icon.twitter::after {
  color: #55acee;
  content: "\f099";
}

.icon.google::after {
  color: #db4437;
  content: "\f0d5";
}

.icon.image-file::after {
  content: "\f1c5";
}

.api-data {
  font-size: .8em;
  list-style: none;
  padding: 0;
}

.api-data b {
}

.api-data span {
  margin-bottom: 6px;
}

.api-data ul {
  list-style: none;
  padding-left: 12px;
}

.clearfix {
  clear: both;
}