.float-right {
  float: right!important;
}

.float-left {
  float: left!important;
}

.text-left {
  text-align: left!important;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.clearfix {
  clear: both;
}

.inline {
  display: inline-block!important;
}

.block {
  display: block!important;
}