.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clearfix {
  clear: both;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}