.button-row {
  margin: 8px -8px;
}

.button {
  cursor: pointer;
  text-align: center;
  min-width: 88px;
  height: 34px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: $primary-color;
  line-height: 32px;
  display: inline-block;
  margin: 0 8px;
  padding: 0 6px;
  &.button-icon {
    min-width: 38px;
    font-size: 14pt;
  }
}

.button-flat {
  -webkit-transition: all .2s .1s;
  transition: all .2s .1s;
  border: 1px solid rgba(0, 0, 0, .07);
  &:not([disabled]):hover {
    @include bright-gray($dark-color);
  }
  &:not([disabled]):active {
    @include bright-color($primary-color);
  }
  &[disabled] {
    color: rgba(0, 0, 0, 0.26);
    background-color: transparent;
  }
  &.button-icon {
    min-width: 42px;
    font-weight: normal;
    margin: 0;
  }
}

.button-raised {
  &:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
  }
  &:not([disabled]):active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    @include bright-color($primary-color);
  }
  &[disabled] {
    color: rgba(0, 0, 0, 0.26);
  }
}

.button-default,
.button-default:visited {
  background-color: $default-color;
  color: #333;
  -webkit-transition: all .2s .1s;
  transition: all .2s .1s;
  &:not([disabled]):hover {
    background-color: #f8f9fa;
  }
  &:not([disabled]):active {
    background-color: #fbfcfd;
  }
  &.button-flat {
    &:not([disabled]):active {
      background-color: #fbfcfd;
    }
  }
}

.button-primary,
.button-primary:visited {
  background-color: $primary-color;
  color: #FFFFFF !important;
  -webkit-transition: all .2s .1s;
  transition: all .2s .1s;
  &:not([disabled]):hover {
    @include hover-color($primary-color);
  }
  &:not([disabled]):active {
    @include active-color($primary-color);
  }
  &.button-flat {
    &:not([disabled]):active {
      @include active-color($primary-color);
    }
  }
}

.button-success,
.button-success:visited {
  background-color: $success-color;
  color: #FFFFFF !important;
  -webkit-transition: all .2s .1s;
  transition: all .2s .1s;
  &:not([disabled]):hover {
    @include hover-color($success-color);
  }
  &:not([disabled]):active {
    @include active-color($success-color);
  }
  &.button-flat {
    &:not([disabled]):active {
      @include active-color($success-color);
    }
  }
}

.button-info,
.button-info:visited {
  background-color: $info-color;
  color: #FFFFFF !important;
  -webkit-transition: all .2s .1s;
  transition: all .2s .1s;
  &:not([disabled]):hover {
    @include hover-color($info-color);
  }
  &:not([disabled]):active {
    @include active-color($info-color);
  }
  &.button-flat {
    &:not([disabled]):active {
      @include active-color($info-color);
    }
  }
}

.button-warning,
.button-warning:visited {
  background-color: $warning-color;
  color: #FFFFFF !important;
  -webkit-transition: all .2s .1s;
  transition: all .2s .1s;
  &:not([disabled]):hover {
    @include hover-color($warning-color);
  }
  &:not([disabled]):active {
    @include active-color($warning-color);
  }
  &.button-flat {
    &:not([disabled]):active {
      @include active-color($warning-color);
    }
  }
}

li .modal-hover-add-button {
  display: inline-block;
  &:before {
    font-family: FontAwesome;
    content: "\f067";
  }
}