.button {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  color: $primary-color;
  line-height: 32px;
  display: inline-block;
  margin: 0 8px;
  padding: 0 6px;
  &.button-icon {
    min-width: 38px;
  }
}

.button-flat {
  -webkit-transition: background .2s .1s;
  transition: background .2s .1s;
  &:not([disabled]):hover {
    @include hover-flat-button;
  }
  &:not([disabled]):active {
    @include active-button;
  }
  &[disabled] {
    color: rgba(0, 0, 0, 0.26);
    background-color: transparent;
  }
  &.button-icon {
    min-width: 38px;
    margin: 0;
    .fa {
      line-height: 32px;
    }
  }
}

.button-raised {
  &:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
  }
  &:not([disabled]):active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    @include active-button;
  }
  &[disabled] {
    color: rgba(0, 0, 0, 0.26);
  }
}

.button-primary {
  background-color: $primary-color;
  color: #FFFFFF !important;
  -webkit-transition: background .2s .1s;
  transition: background .2s .1s;
  &:not([disabled]):active {
    @include active-primary-button;
  }
  &.button-flat {
    &:hover {
      @include hover-primary-button;
    }
    &:not([disabled]):active {
      @include active-primary-button;
    }
  }
}