.dropdown-menu {
  padding: 0 16px;
  cursor: pointer;
  &:hover {
    -webkit-transition: background .2s .1s;
    transition: background .2s .1s;
    background-color: rgba(158, 158, 158, 0.2);
  }
  &:active {
    @include active-color($primary-color);
  }
  > span {
    color: $primary-color;
    font-size: 24px;
    line-height: 48px;
    vertical-align: bottom;
    display: inline-block;
    @media only screen and (min-width: 750px) {
      line-height: 64px;
    }
    &.fa {
      width: 22px;
    }
    &.fa-chevron-down {
      font-size: 12pt;
      line-height: 45px;
      @media only screen and (min-width: 750px) {
        line-height: 60px;
      }
    }
  }
  .dropdown-content {
    display: none;
    background-color: $bright-white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    white-space: nowrap;
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-color: rgba(0, 0, 0, 0);
      border-style: solid;
      top: -5px;
      left: 50%;
      margin-left: -5px;
      border-width: 0 5px 5px;
      border-bottom-color: $bright-white;
    }
    ul {
      background-color: $bright-white;
      width: auto;
      min-width: 100%;
      li {
        display: block;
        padding: 0;
        a {
          color: #212121;
          font-size: 14pt;
          line-height: 19pt;
          border-bottom: none;
          padding: 10px 20px;
          text-transform: initial;
          display: block !important;
        }
      }
    }

    .dropdown-title {
      font-size: 14pt;
      line-height: 14pt;
      padding: 6px 10px;
      background-color: #C32A22;
      color: #FFF;
      display: block
    }
    .separator {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      display: block;
    }
    .dropdown-content-container {
      padding-left: 20px;
      padding-right: 20px;
    }
    .dropdown-profile-content {
      padding-top: 10px;
      .dropdown-profile-name {
        font-size: 18pt;
        line-height: 20pt;
        display: block;
      }
      .dropdown-profile-email {
        font-size: 12pt;
        line-height: 12pt;
        margin-bottom: 8px;
        display: block;
      }
    }
    .button.button-default,
    .button.button-default:hover {
      border: 1px solid #e5e6e7;
      color: #212121;
    }
  }
  &.active {
    .dropdown-content {
      display: block;
      position: relative;
      top: 0px;
      right: 0px;
    }
  }
}

/* Navbar */
.navbar ul li.dropdown-menu {
  .dropdown-content {
    cursor: default;
    li {
      display: block;
      padding: 0;
      &:last-child {
        border-bottom: none;
      }
      a {
        color: #212121;
        font-size: 14pt;
        line-height: 19pt;
        border-bottom: none;
        padding: 10px 20px;
        text-transform: initial;
      }
    }
    .dropdown-title {
      font-size: 14pt;
      line-height: 14pt;
      padding: 6px 10px;
      background-color: $primary-color;
      color: #FFF;
      display: block;
    }
  }
}

.navbar.navbar-dark .dropdown-menu > span {
  color: #FFF;
}

// Box header dropdowns
.box-header-dropdown {
  float: right;
  list-style: none;
  padding: 0;
  .dropdown-menu {
    top: 0;
    right: 16px;
    padding: 0;
    &.active .dropdown-content {
      top: 48px;
      position: absolute;
      &:before {
        right: 20px;
        left: initial;
      }
      ul {
        padding: 0;
        li {
          &:last-child {
            border-bottom: none;
          }
          a {
            color: $default-text-color;
          }
          button.link-button {
            font-size: 14pt;
            line-height: 19pt;
            padding: 10px 20px;
            display: block;
            font-family: inherit;
            color: $default-text-color;
          }
        }
      }
    }
    > span.fa-chevron-down {
      line-height: 48px;
      width: 48px;
      &:before {
        padding: 0 16px;
      }
    }
  }
}

.box.primary {
  .box-header {
    .dropdown-menu {
      > span {
        color: #FFFFFF;
      }
    }
  }
}