form {
  display: block;
  margin-bottom: 0;
}

.list-item-buttons form {
  display: inline-block;
}

.input-group {
  margin-bottom: 4px;
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="search"],
  input[type="email"],
  select {
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 8px;
    border: none;
    border-bottom: 2px solid #eee;
    -webkit-transition: border .2s; /* Safari */
    transition: border .2s;
    color: transparent;
    background: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    + label {
      color: #777;
      position: relative;
      bottom: 27.5px;
      left: 8px;
      font-size: 20px;
      -webkit-transition: all .2s; /* Safari */
      transition: all .2s;
      height: 0px;
      display: block;
      cursor: text;
    }
    &::-webkit-input-placeholder {
      opacity: 0;
    }
    &::-moz-placeholder {
      opacity: 0;
    }
    &:-moz-placeholder {
      opacity: 0;
    }
    &:-ms-input-placeholder {
      opacity: 0;
    }
    &:focus {
      border-bottom: 2px solid $primary-color;
      outline: none;
      color: #777;
      &::-webkit-input-placeholder {
        opacity: 1;
      }
      &::-moz-placeholder {
        opacity: 1;
      }
      &:-moz-placeholder {
        opacity: 1;
      }
      &:-ms-input-placeholder {
        opacity: 1;
      }
    }
    &.is-not-empty {
      color: #212121;
      &:focus {
        color: #212121;
      }
    }
    &.is-not-empty + label {
      bottom: 50px;
      font-size: 16px;
      &:after {
        content: ":";
      }
    }
    &:focus + label {
      color: $primary-color;
      bottom: 50px;
      font-size: 16px;
      cursor: default;
      &:after {
        content: ":";
      }
    }
  }
}

.select-wrapper:before {
  font-family: FontAwesome;
  content: "\f078";
  position: absolute;
  right: 40px;
  top: 22px;
  width: 0;
  height: 0;
  color: #777;
}