ul.list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 10px 5px 2px;
    border-bottom: 1px solid #EEE;
  }
  &.hover-list{
    li{
      &:hover{
        @include hover-list;
      }
    }
  }
  &.list-clickable{
    li:hover{
      pointer: cursor;
    }
  }
}

