ul.list {
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  li {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: background-color .2s;
    .list-item-divider {
      display: inline-block;
      content: "";
      width: 1px;
      height: 32px;
      background-color: #eee;
      vertical-align: text-bottom;
      margin: 0 4px;
    }
    .list-item-content {
      display: inline-block;
      font-size: 14pt;
      line-height: 14pt;
      small {
        display: block;
        min-height: 19px;
        font-size: 10pt;
      }
      &.single-line {
        line-height: 34px;
        vertical-align: text-bottom;
      }
    }
    .list-item-buttons {
      float: right;
      line-height: 32px;
      font-size: 26px;
      vertical-align: text-bottom;
      .button {
        margin: 0;
      }
    }
    .list-item-button {
      float: right;
      line-height: 32px;
      font-size: 26px;
      vertical-align: text-bottom;
      .button {
        float: right;
      }
    }
  }
  &.hover-list {
    li {
      &:hover {
        @include bright-gray($dark-color);
      }
    }
  }
  &.box-list {
    li {
      a {
        margin: -10px;
        padding: 10px;
        color: $default-text-color;
      }
      .list-item-content {
        display: block;
      }
    }
  }
  &.menu-list {
    li {
      .list-item-content {
        max-width: calc(100% - 42px);
        @media only screen and (min-width: 750px) {
          max-width: none;
        }
      }
      .list-item-buttons {
        .button, button {
          display: none;
          @media only screen and (min-width: 750px) {
            display: inline-block;
          }
        }
        &:after {
          display: inline-block;
          font-family: FontAwesome;
          content: "\f142";
          float: right;
          min-width: 42px;
          text-align: center;
          line-height: 40px;
          @media only screen and (min-width: 750px) {
            content: none;
            min-width: 0;
          }
        }
      }
    }
    li.list-item-menu-active {
      background-color: $primary-color;
      color: #FFFFFF;
      > *:not(.list-item-buttons) {
        display: none;
      }
      .list-item-buttons {
        float: none;
        line-height: 35px;
        a, .button, button {
          display: inline-block;
        }
        .button, button {
          &:before, span:before {
            opacity: 1;
          }
        }
        a:not(.button) {
          color: #FFFFFF;
          &:before, span:before {
            opacity: .8;
            transition: all .2s;
          }
          &:hover {
            background: none;
            &:before, span:before {
              opacity: 1;
            }
          }
        }
        &.button-default {
          color: $primary-color;
          &:not([disabled]):hover {
            @include bright-gray($dark-color);
          }
          &:not([disabled]):active {
            @include bright-color($primary-color);
          }
        }
        &:after {
          content: "\f00d";
          line-height: 38px;
        }
      }
    }
  }

  &.list-clickable {
    li {
      transition: background-color .2s;
    }
    li:hover {
      cursor: pointer;
    }
  }

  .list-item-clicked {
    @include bright-color($success-color);
  }

  .list-hoverable li:hover {
    li {
      transition: background-color .2s;
    }
    li:hover {
      @include bright-gray($dark-color);
    }
  }

  .sortable-chosen {
    background-color: rgba(195, 42, 34, 0.15);
    cursor: move;
    background-color: #FFF;
    opacity: 1;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.04);
  }

  .sortable-ghost {
    opacity: 0;
    transform: scale(1.04);
  }

  .sortable-handle {
    opacity: .5;
    transition: all .2s;
    width: 55px;
    margin: -10px -7px -12px -14px;
    font-size: 20px;
    text-align: center;
    vertical-align: text-bottom;
    height: 55px;
    line-height: 55px;
    display: inline-block;
    -webkit-filter: none;
    filter: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    transform: rotate(90deg);
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
      content: "\f142 \202F \f142 \202F \f142 \202F \f142";
    }
  }

  .sortable-handle:hover {
    opacity: 1;
    cursor: move;
  }

}