ul.list {
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  li {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: background-color .2s;
    .list-item-divider {
      display: inline-block;
      content: "";
      width: 1px;
      height: 32px;
      background-color: #eee;
      vertical-align: text-bottom;
      margin: 0 4px;
    }
    .list-item-content {
      display: inline-block;
      font-size: 14pt;
      line-height: 17px;
      small {
        display: block;
        min-height: 16px;
        font-size: 10pt;
      }
      &.single-line {
        line-height: 34px;
        vertical-align: text-bottom;
      }
    }
    .list-item-buttons {
      float: right;
      line-height: 32px;
      font-size: 26px;
      vertical-align: text-bottom;
      .button {
        line-height: 32px;
        font-size: 26px;
        margin: 0;
      }
      &:after {
        display: inline-block;
        font-family: FontAwesome;
        content: "\f142";
        float: right;
        @media only screen and (min-width: 750px) {
          content: none;
        }
      }
      > a {
        display: none;
        @media only screen and (min-width: 750px) {
          display: inline-block;
        }
      }
    }
    .list-item-button {
      float: right;
      line-height: 32px;
      font-size: 26px;
      vertical-align: text-bottom;
      .button {
        float: right;
        line-height: 32px;
        font-size: 26px;
        vertical-align: text-bottom;
      }
    }
  }
  li.list-item-menu-active {
    background-color: $primary-color;
    color: #FFFFFF;
    > *:not(.list-item-buttons) {
      display: none;
    }
    .list-item-buttons {
      float: none;
      line-height: 35px;
      > a {
        display: inline-block;
        color: #FFFFFF;
        &:before, span:before {
          opacity: .8;
          transition: all .2s;
        }
        &:hover {
          background: none;
          &:before, span:before {
            opacity: 1;
          }
        }
      }
      &:after {
        content: "\f00d";
      }
    }
  }
  &.hover-list {
    li {
      &:hover {
        @include bright-gray($dark-color);
      }
    }
  }
  &.list-clickable {
    li {
      transition: background-color .2s;
    }
    li:hover {
      cursor: pointer;
    }
  }
  .list-item-clicked {
    @include bright-color($success-color);
  }
  .list-hoverable li:hover {
    li {
      transition: background-color .2s;
    }
    li:hover {
      @include bright-gray($dark-color);
    }
  }

  .sortable-chosen {
    background-color: rgba(195, 42, 34, 0.15);
    cursor: move;
    background-color: #FFF;
    opacity: 1;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.04);
  }

  .sortable-ghost {
    opacity: 0;
    transform: scale(1.04);
  }

  .sortable-handle {
    opacity: .5;
    transition: all .2s;
    font-size: 20px;
    line-height: 34px;
    vertical-align: text-bottom;
    width: 20px;
  }

  .sortable-handle:hover {
    opacity: 1;
    cursor: move;
  }
}