input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  margin: 4pt;
  font-size: 14pt;
}

input[type="checkbox"]:before,
input[type="radio"]:before {
  font-family: FontAwesome, sans-serif;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-size: 16pt;
}

input[type="checkbox"]:focus,
input[type="checkbox"]:focus + label,
.input-group:active input[type="checkbox"],
.input-group:active input[type="checkbox"] + label,
input[type="radio"]:focus,
input[type="radio"]:focus + label,
.input-group:active input[type="radio"],
.input-group:active input[type="radio"] + label {
  color: $primary-color;
}

input[type="checkbox"]:before {
  content: "\f096";
}

input[type="checkbox"]:checked:before {
  content: "\f046";
}

input[type="radio"]:before {
  content: "\f10c";
}

input[type="radio"]:checked:before {
  content: "\f192";
}