* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: $body-background;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  overflow: hidden;
  &.modal-active {
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e1e2;
  border-radius: 0;
  -webkit-box-shadow: none;
}

a, a:visited {
  color: $primary-color;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button, input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

button, input[type="button"], input[type="submit"] {
  &:active, &:focus {
    box-shadow: none;
    outline: none;
  }
}

.content {
  max-width: 1100px;
  margin: auto;
}

.container {
  padding: 0;
  @media (max-width: 549px) {
    > .row {
      margin-left: 0;
      margin-right: 0;
      > div {
        padding: 0;
      }
    }
  }
}

.main-content {
  -webkit-transition: all .2s;
  transition: all .2s;
  padding-top: 48px;
  height: 100%;
  > .container {
    overflow: auto;
    max-height: 100%;
  }
}

@media only screen and (min-width: 750px) {
  body.sidebar-active {
    .main-content {
      margin-left: 245px;
    }
  }
  .main-content {
    padding-top: 64px;
  }
}

.z-1 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37);
}

.z-2 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
