.tooltip:hover::after {
  content: attr(title);
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: $dark-color;
  color: #FFF;
  font-size: 12pt;
  line-height: 14pt;
  text-transform: initial;
  text-decoration: none;
  padding: 5px 10px;
  z-index: 4;
  font-weight: normal;
}

.action-menu-active {
  .tooltip:hover::after {
    bottom: 65px;
    right: 5px;
    left: initial;
  }
}