$heading-font: "Raleway",sans-serif;
$normal-font: "Open Sans",sans-serif;

$body-background: #f9f9f9;
$bright-white: #fafbfc;
$primary-color: #C32A22;
$success-color: #1A9729;
$warning-color: #C36E22;
$info-color: #166F77;
$dark-color: #232527;