$heading-font: "Raleway",sans-serif;
$normal-font: "Open Sans",sans-serif;

$body-background: #f9f9f9;
$primary-color: #BE2791;
$primary-color-light: #c72c9b;
$primary-color-dark: #b3278d;
$dark-color: #232527;