@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Bold.ttf');
    font-weight: bold;
}